:root {
    --main-color: #EBEEF5;
    --second-color: #F7F6FF;
    --third-color: #C4C4C4;
    --fourth-color: #02577A;
    --fith-color: #FFFFFF;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;;
}

body {
    font-family: 'Montserrat';
}